{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/base/jquery-ui.css" media="all" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-ko.js" charset="utf-8"></script>

    <script type="text/javascript" src="http://jqueryui.com/ui/i18n/jquery.ui.datepicker-ko.js" charset="utf-8"></script>
    <script src="/static/js/test.js"></script>

  </head>

  
  <body>
    <span class='green_window'>
      <input type='text' id="ticker" class='input_text'/>
    </span>
    <button type='submit' class='sch_smit', onclick="search_stock()">검색</button>

    <div class="weather">
      <div class="CurrIcon"></div>
      <div class="CurrTemp"></div>
      <div class="City"></div>
    </div>
    <div id="chartContainer" style="height: 450px; width: 100%;"></div>

  </body>
</html>