{% load static %}
<html>
  <head>
    <title>Stock</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- <script src="/static/js/test.js"></script> -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

  </head>
  
  <body>

    <span class='green_window'>
      <input type='text' id="ticker" class='input_text'/>
    </span>
    <button type='submit' class='sch_smit', onclick="search_stock()">검색</button>
    


    <div id="chartdiv" style="height: 370px; width: 100%;"></div>
	  <script src="/static/js/stock_chart.js"></script>


      
  </body>
</html>

