/* input:-ms-input-placeholder {color: #a8a8a8;}
input::-webkit-input-placeholder {color: #a8a8a8;}
input::-moz-placeholder {color: #a8a8a8;}

div{
    height: 40px;
    width: 325px;
    border: 1px solid #1b5ac2;
    background: #ffffff;
}

input{
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

button{
    width: 50px;
    height: 100%;
    border: 10px;
    background: #b0b2b4;
    outline: none;
    color: #ffffff;
}
 */

.green_window {
	display: inline-block;
	width: 366px; height: 34px;
	border: 3px solid #000000;
	background: white;
}
.input_text {
	width: 348px; height: 21px;
	margin: 6px 0 0 9px;
	border: 0;
	line-height: 21px;
	font-weight: bold;
	font-size: 16px;
	outline: none;
}
.sch_smit {
	width: 54px; height: 40px;
	margin: 0; border: 0;
	vertical-align: top;
	background: #030303;
	color: white;
	font-weight: bold;
	border-radius: 1px;
	cursor: pointer;
}
.sch_smit:hover {
	background: #050505;
}